
.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5px;

  &.loading .content .content-text {
    padding: 0;
  }

  .date {
    float: right;
    margin-top: 5px;
  }

  &.user {
    align-items: flex-end;

    .content {
      background: #c1d2e2;
    }
  }

  .content {
    color: #0e0f3e;
    padding: 5px;
    background: #9dbfe0;
    border-radius: 5px;
    margin-bottom: 2px;
    max-width: 70%;
    text-align: left;

    .content-text {
      padding-right: 10px;
      word-break: break-word;
    }

    .date {
      color: #5f6d80;
      font-size: 10px;
    }
  }

  &.show-arrow {
    position: relative;
    margin-bottom: 20px;

    &::before {
      content: " ";
      position: absolute;
      bottom: 5px;
      left: -4px;
      border-right: solid 10px #9dbfe0;
      border-left: none;
      border-bottom: solid 5px transparent;
      height: 0;
      width: 0;
      border-top: solid 5px transparent;
    }

    &.user::before {
      content: none;
    }

    &.user::after {
      content: " ";
      position: absolute;
      bottom: 5px;
      right: -4px;
      border-left: solid 10px #c1d2e2;
      border-right: none;
      border-bottom: solid 5px transparent;
      height: 0;
      width: 0;
      border-top: solid 5px transparent;
    }
  }
}
