.message-area {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px 25px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
}
