.gradient-button {
  display: inline-block;
  position: relative;
  &, .content {
    background: rgb(0,0,42);
    background: linear-gradient(72deg, rgba(0,0,42,1) 0%, rgba(77,31,76,1) 20%, rgba(153,59,91,1) 40%, rgba(215,108,89,1) 60%, rgba(249,173,86,1) 80%, rgba(249,248,113,1) 100%);
    width: 70px;
    height: 48px;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    text-align: center;
    vertical-align: center;
    transition: transform 0.25s ease-in;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    &:hover {
      transform: translate(-50%, -50%);
    }
  }
}
