name: build-and-deploy
on:
  release:
    types: [published]
jobs:
  setup:
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_GTM_ID: ${{ secrets.NEXT_PUBLIC_GTM_ID }}
      TWITTER_KEY: ${{ secrets.TWITTER_KEY }}
      TWITTER_SECRET: ${{ secrets.TWITTER_SECRET }}
      TWITTER_BEARER: ${{ secrets.TWITTER_BEARER }}
      ARTIFACTS_BUCKET: ${{ secrets.ARTIFACTS_BUCKET }}
      APP_BUCKET: ${{ secrets.APP_BUCKET }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - uses: hashicorp/setup-terraform@v1.4.0
      - run: echo "APP_VERSION=$(date +\"%m%d%Y%H%M%S\")" >> $GITHUB_ENV
      - run: npm install -g yarn
      - run: npm install -g zx
      - run: yarn
      - run: yarn build
      - run: zx ./scripts/publish.artifact.mjs
      - run: terraform init -backend-config="bucket=${{ secrets.TFSTATES_BUCKET }}"
        working-directory: terraform
      - run: terraform apply -auto-approve -var="artifact_version=$APP_VERSION" -var="artifacts_bucket=${{ secrets.ARTIFACTS_BUCKET }}" -var="twitter_bearer=${{ secrets.TWITTER_BEARER }}"
        working-directory: terraform
      - run: zx ./scripts/deploy.mjs
      - run: aws cloudfront create-invalidation --distribution-id="${{ secrets.CF_DISTRIBUTION_ID }}" --paths="/*"

